.flex-form {
    border: 10px solid #eee;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
    0 6px 20px 0 rgba(0, 0, 0, 0.19);  
    margin:10px;
  }
  
  .flex-form button {
    background-color: olivedrab;
    color:white;
    cursor: pointer;
    transition:all 0.3s;
    flex: 1;
  }
  
  .flex-form button:hover {
    background:rgba(0,0,0,0.7);
  }
  
  .flex-form > * {
    border:0;
    padding:10px;
    background:white;
    line-height:30px;
    font-size: 15px;
    border-radius:0;
    outline:0;
    border-right:1px solid rgba(0,0,0,0.2);
    -webkit-appearance:none;
  }
  
  /* .flex-form > *:last-child {
    border-right: 0;
  } */
.searchField {
    flex-basis: 500px;
  }
  .flex-form {
    display: flex;
     /* stretch the  */
    align-items: stretch;
    border-radius: 5px;
  }