
.main-container {
  display: flex;
  position: sticky;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.metaData-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.page-route {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.registration-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  float: right;
  margin-left: auto;
}
